body{
    font-family: 'Poppins', sans-serif;
    margin: 0;
}
h1{
    font-size: 50px;
}
.color-org{
    color: orange;
}
.hire-me{
    text-decoration: none;
    padding: 10px 40px;
    background:linear-gradient(orange,yellow);
    color: white;
}
section{
    display: flex;
    margin-bottom: 30px;
}
.half-width{
    width: 50%;
    padding-left: 5px;
}
.half-width img{
    width: 80%;
    padding-left:50px ;
}
.top-banner{
    background-image: url(images/top-banner.png);
    background-repeat: no-repeat;
}
.dream-big{
    background-image: url(images/dream-bg.png);
    background-repeat: no-repeat;
    background-position: right;
}